services:
  db:
    image: postgres:15-bookworm
    ports:
     - "5432"
    environment:
     - POSTGRES_USER=asterisk
     - POSTGRES_PASSWORD=proformatique
     - POSTGRES_DB=asterisk
     - LC_ALL=C.UTF-8
    volumes:
      - "./contribs/docker/db/extensions.sql:/docker-entrypoint-initdb.d/extensions.sql"
    command: "-c 'log_min_duration_statement=0'"
