# svn urls are used here to be able to change directory
svn+https://github.com/xivo-pbx/xivo-lib-python/trunk/xivo-lib-python
svn+https://github.com/xivo-pbx/xivo-bus/trunk/xivo-bus
-e svn+https://github.com/xivo-pbx/xivo-provisioning/trunk/xivo-provisioning#egg=provd
mock
pika
psycopg2
pyhamcrest
python-cjson
sqlalchemy==0.7.2
