Source: xivo-dao
Section: python
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 8), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: http://wiki.xivo.io

Package: xivo-libdao
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         xivo-bus (>= 15.05~20150311.194150.b00ca46-1),
         xivo-config (>= 13.02~20130128.173355.93cbb26-1),
         xivo-lib-python,
         python-sqlalchemy
Description: XIVO telephony systems library for directories manager
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
