#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=xivo_libdao
export PYBUILD_DESTDIR_python3=debian/xivo-libdao-python3/
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild
